<p>Olá,</p>

<p>A versão de testes do aplicativo para <strong>iPhone</strong> já está disponível para download.</p>

<p>Para fazer o download, abra esse e-mail em seu <strong>iPhone</strong> e clique no botão abaixo.</p>

<br>
<table cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td align="center" width="100" height="40" bgcolor="#348571" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
			<a href="{{ download_url }}" style="font-size:16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">Instalar</span></a>
		</td>
	</tr>
</table>
<br>

<p>Caso ao clicar no botão acima você não consiga realizar a instalação do aplicativo, copie o link a seguir e acesse-o com o navegador do seu celular: </p>

<table cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td align="center">
			<a href="{{ download_url }}">{{ download_url }}</a>
		</td>
	</tr>
</table>

<p>Após instalar o aplicativo, você deverá fazer seu cadastro no site do <strong>Sistema de Registro das Atividades do RT</strong> e, assim, definir uma senha de acesso, a qual será usada para fazer login.</p>

<p>Se você ainda não fez seu cadastro, acesse o link a seguir a partir do seu computador: </p>

<table cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td align="center">
			<a href="{{ web_url }}">{{ web_url }}</a>
		</td>
	</tr>
</table>

<br>
<br>
<p>Equipe de testes</p>
<p>--------------------------------------</p>
<p><strong>Estúdio 89 Desenvolvimento de Software</strong></p>
<p><strong>Sistema de Registro das Atividades do RT - CRMV|PR</strong></p>

<p>Por favor, não responda esse e-mail. Essa é uma mensagem automática.</p>