{% extends "e89_beta_testing/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="col-md-4 center-block" style="margin-top: 5em;">
	<div class="row text-center">
	    <img src="/static/e89_beta_testing/img/logo_e89_gde.png" alt="Estúdio 89" id="logo">
	    <br>
	    <br>
	    <h4 class="">Cadastro de usuários para testes</h4>
	</div>
	<div class="row text-center">
		<br>
		<p>Seu cadastro foi realizado, verifique seu e-mail para mais instruções.</p>
	</div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}