{% extends "e89_beta_testing/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="col-md-12" style="margin-top: 5em;">
	<div class="row text-center">
		<img src="/static/e89_beta_testing/img/logo_e89_gde.png" class="img-responsive center-block" alt="Estúdio 89" id="logo">
	    <h4 class="">Cadastro de usuários para testes</h4>
	</div>
	<div class="row text-center">
		<br>
		<br>
		<br>
		<p>Seu <strong>iPhone</strong> foi cadastrado com sucesso.</p>
		<p>Entraremos em contato em breve com maiores informações.</p>
	</div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}